.navbar {
  position: sticky;
  transition: background-color 0.2s;
  top: 0;
  z-index: 10;
  width: 100%;
  border-top: 1rem solid rgba(0, 0, 0, 0.2);
  padding: 1rem 1.6rem;
}

@supports (backdrop-filter: blur(10px)) {
  .navbar {
    backdrop-filter: blur(10px);
    border-top: 0 transparent;
  }
}

@media (prefers-color-scheme: light) {
  .navbar {
    box-shadow: 0 -13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}

@media all and (display-mode: standalone) {
  .navbar {
    border-top: 0;
  }
}

@media (max-width: 767px) {
  .navbar {
    box-shadow: 0 -13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    top: auto;
    bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: max(1rem, env(safe-area-inset-bottom));
    border-top: 0;
  }
}

.form {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: var(--gridGap);
  max-width: var(--maxWidth);
  margin: auto;
}

@media (max-width: 767px) {
  .form {
    padding: 0 var(--gridGap);
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1410px) {
  .form {
    padding: 0 var(--gridGap);
  }
}

.big-label:first-of-type {
  margin-right: 0.8rem;
}
