:root {
  --gridGap: 1.6rem;
  --maxWidth: 1400px;
}

* {
  box-sizing: border-box !important;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  margin: 0;
  overflow-x: hidden;
}

/* Foo */

.hero {
  width: 100%;
  color: #333;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f4f3f4;
}

@media (prefers-color-scheme: dark) {
  .hero {
    background: #303030 !important;
  }
}

@media (max-width: 767px) {
  .hero {
    flex-direction: column-reverse;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loadingCard {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.4rem;
  background-color: white;
  position: relative;
  text-decoration: none;
  height: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  transition: all 135ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (prefers-color-scheme: dark) {
  .loadingCard {
    background: #424242 !important;
  }
}
/* REPO LIST */
.row {
  display: grid;
  margin: 2rem auto;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(30rem - var(--gridGap)), 1fr)
  );
  grid-gap: var(--gridGap);
  padding: 0 var(--gridGap);
  padding-bottom: 5rem;
  width: 100%;
  margin-top: 2rem;
  max-width: var(--maxWidth);
}

@media (max-width: 767px) {
  .row {
    margin-top: 0;
    padding: var(--gridGap);
  }
}

/* Cards */

.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.4rem;
  background-color: white;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  transition: all 135ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 767px) {
  .card:hover {
    transform: scale(1.0125);
    box-shadow: 0 0.5rem 2rem 0 rgba(60, 64, 67, 0.2);
  }
}

.detail {
  padding: 0.4rem 0.8rem;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.4rem;
  border-top-left-radius: 0.4rem;
}

.stars {
  padding: 0.4rem 0.8rem;
  background: #fff59d;
  color: black;
  font-size: 1.4rem;
}

.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.6rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  padding-bottom: 1.6rem;
}

.secondary {
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.54);
  display: block;
  padding: 0.8rem 0 1.6rem;
}

.name {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  max-width: 100%;

  font-size: 2.4rem;
  color: rgba(0, 0, 0, 0.87);
  display: block;
}

.rateLimit {
  color: black;
}

@media (prefers-color-scheme: dark) {
  .detail {
    color: rgba(255, 255, 255, 0.75) !important;
  }

  .rateLimit {
    color: rgba(255, 255, 255, 0.75) !important;
  }

  .description {
    color: rgba(255, 255, 255, 0.75) !important;
  }

  .secondary {
    color: rgba(255, 255, 255, 0.55) !important;
  }
  .name {
    color: rgba(255, 255, 255, 0.75) !important;
  }
  .card {
    background: #424242 !important;
  }
}

/* Navbar */
.icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  fill: white;
}

.darkmodeContainer {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

@media (max-width: 767px) {
  .darkmodeContainer {
    justify-content: flex-start;
  }
}

@media (prefers-color-scheme: dark) {
  .darkmodeContainer {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .darkmodeContainer {
    display: none;
  }
}

.big-label:first-of-type {
  margin-right: 0.8rem;
}

.navbar {
  position: sticky;
  transition: background-color 0.2s;
  top: 0;
  z-index: 10;
  width: 100%;
  border-top: 1rem solid rgba(0, 0, 0, 0.2);
  padding: 1rem 1.6rem;
}

@supports (backdrop-filter: blur(10px)) {
  .navbar {
    backdrop-filter: blur(10px);
    border-top: 0 transparent;
  }
}

@media (prefers-color-scheme: light) {
  .navbar {
    box-shadow: 0 -13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}

@media all and (display-mode: standalone) {
  .navbar {
    border-top: 0;
  }
}

@media (max-width: 767px) {
  .navbar {
    box-shadow: 0 -13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    top: auto;
    bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: max(1rem, env(safe-area-inset-bottom));
    border-top: 0;
  }
}

.form {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: var(--gridGap);
  max-width: var(--maxWidth);
  margin: auto;
}

@media (max-width: 767px) {
  .form {
    padding: 0 var(--gridGap);
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1410px) {
  .form {
    padding: 0 var(--gridGap);
  }
}

/* SELECT */
.selector {
  padding: 0.8rem;
  outline: none;
  padding-top: 2rem;
  font-size: 1.6rem;
  -webkit-appearance: none;
  height: 4.8rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  cursor: pointer;
  color: white;
  border-radius: 0.2rem;
}

.selector:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* @media (min-width: 767px) {
  .selector:last-of-type {
    margin-right: 0.8rem;
  }
} */

.selectable {
  color: black;
}

.labelContainer {
  min-width: calc(30rem - var(--gridGap));
  width: 100%;
  cursor: pointer;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.labelCopy {
  position: absolute;
  top: 0.5rem;
  font-size: 1rem;
  left: 0.8rem;
  color: white !important;
}
